.DS_Store
node_modules
.env
.idea
.envrc.local
.vscode

coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# TypeScript files
test/**/*.d.ts
test/**/*.js.map
# this one is temporary, until all .js test files are moved to .ts
test/services/**/*.js
src/test.ts